<a href="https://colab.research.google.com/github/sakethg11/python-programs/blob/module-2/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#You can assign a multiline string to a variable by using three quotes:Or three single quotes:
a='''Hello this is Laxman Chowdary, and im from Khammam, im persuing my Btech in GITAM University'''
print (a)

Hello this is Laxman Chowdary, and im from Khammam, im persuing my Btech in GITAM University

In [ ]:
#Get the character at position 1 (remember that the first character has the position 0):
a="Hello saketh"
print (a[1])

e

In [ ]:
#length of a string #(len)
a='''Hello this is Laxman Chowdary, and im from Khammam, im persuing my Btech in GITAM University'''
print(len(a))

92

In [ ]:
#Check string
a='''Hello this is Laxman Chowdary, and im from Khammam, im persuing my Btech in GITAM University'''
print("is" in a)
print("python" in a)
print("im" in a)
print("," in a)
print("'" in a)

True
False
True
True
False

In [ ]:
#If not
a='''Hello this is Laxman Chowdary, and im from Khammam, im persuing my Btech in GITAM University'''
print("Hello" not in a)
print("python" not in a)
print("this " not in a)
print("and" in a,"no" in a)

False
True
False
True False

In [ ]:
#Slicing of a String
a="i went to Radhe Shyam movie"
print(a[0:6])
print(a[2:5])
print(a[0:200])
#slice from the start
print(a[:5])
#slice to the end
print(a[5:])
#Negative Indexing
print(a[-5:-1])
print(a[-13:22])
#wrong indexing
print(a[5:1])
print(a[10:3])

i went
wen
i went to Radhe Shyam movie
i wen
t to Radhe Shyam movie
movi
e Shyam

In [ ]:
#Modifying strings
#uppercase and lowercase
a = "Hello, World!"
print(a.upper())

print(a.lower())
#The strip() method removes any whitespace from the beginning or the end:
a="    hello"
print(a.strip())
#The replace() method replaces a string with another string:
a="I went to RRR movie"
print(a.replace("RRR","Radhe Shyam"))
print(a.replace("R","M"))
#The split() method splits the string into substrings if it finds instances of the separator:
a="I went to RRR movie"
print(a.split(" "))
print(a.split("RRR"))

HELLO, WORLD!
hello, world!
hello
I went to Radhe Shyam movie
I went to MMM movie
['I', 'went', 'to', 'RRR', 'movie']
['I went to ', ' movie']

In [ ]:
#String Concatenation
#Merge variable a with variable b into variable c:
a = "Hello"
b = "SAKETH"
c = a + b
print(c)
#To add a space between them, add a " ":
c = a + " " + b
print(c)
#if a is INT and b is string c=a+b it is an error, you have to convert int into string
a=123
b="hello"
a=str(a)
c=a+b
print(c)

HelloSAKETH
Hello SAKETH
123hello

In [ ]:
#format strings
#we can combine strings and numbers by using the format() method! The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:
age=18
txt = "My name is saketh, and I am {}"
print(txt.format(age))
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity=input("enter quantity")
itemno=input("enter itemno")
price=input("enter price")
order="I want {} pieces of item {} for {} ruppees."
print(order.format(quantity,itemno,price))
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
order="i want to pay {2} ruppess for {0} pieces of item {1}."
print(order.format(quantity,itemno,price))

My name is saketh, and I am 18
enter quantity5
enter itemno55
enter price744
I want 5 pieces of item 55 for 744 ruppees.
i want to pay 744 ruppess for 5 pieces of item 55.

In [ ]:
#Escape Character
#The escape character allows you to use double quotes when you normally would not be allowed:
a="Hi this is \"Laxman Chowdary\""
print(a)
a='Hi this\'s \"Laxman Chowdary\"'
print(a)

Hi this is \"Laxman Chowdary"
Hi this's "Laxman Chowdary"